<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link href="{{ asset('bundles/app/bootstrap/css/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/app/css/screen.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
            
        <script src="{{ asset('bundles/app/js/jquery.js') }}"></script>
        <script src="{{ asset('bundles/app/bootstrap/js/bootstrap.js') }}"></script>
        <script src="{{ asset('bundles/app/js/site.js') }}"></script>
        {% block javascripts %}{% endblock %}
        
    </body>
</html>
